{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <p>
                Angaben nach § 5 TMG:
            </p>

            <p>
                Malte Hübner
                <br />
                Mühlenaustieg 10
                <br />
                22523 Hamburg
            </p>

            <p>
                E-Mail: maltehuebner@gmx.org
                <br />
                Telefon: 0700 11 864 833
            </p>

            <p>
                Kein Support per E-Mail oder Telefon. Bitte nutze bei Problemen oder für Ideen das <a href="https://www.radverkehrsforum.de/index.php/Board/33-luft-jetzt/">Radverkehrsforum</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}
