{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h2>
                Impressum
            </h2>

            <p>
                Angaben nach § 5 TMG:
            </p>

            <p>
                Malte Hübner
                <br />
                Mühlenaustieg 10
                <br />
                22523 Hamburg
            </p>

            <p>
                E-Mail: <a href="mailto:malte@caldera.cc">malte@caldera.cc</a>
                <br />
                Telefon: <a href="tel:015117277032">0151 172 77 032</a>
            </p>

            <p>
                Kein Support per E-Mail oder Telefon. Bitte nutze bei Problemen oder für Ideen das <a href="https://www.radverkehrsforum.de/index.php/Board/33-luft-jetzt/">Radverkehrsforum</a>.
            </p>
        </div>
    </div>
</div>
{% endblock %}
