{#<footer id="footer mt-3">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-muted">
                <p>
                    Finde aktuelle Luftdaten aus folgenden Städten:
                </p>

                <ul class="list-inline mt-3 ">
                    {% for city in cityList %}
                        <a class="text-muted" href="{{ path('show_city', { citySlug: city.slug }) }}"><small>{{ city.name }}</small></a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
    #}