old_sound_rabbit_mq:
  connections:
    default:
      url: '%env(RABBITMQ_URL)%'
  consumers:
    luft_value:
      connection:       default
      exchange_options: {name: 'luft_value', type: direct}
      queue_options:    {name: 'luft_value'}
      callback:         App\Consumer\ValueConsumer
  batch_consumers:
    luft_value:
      connection:       default
      exchange_options: {name: 'luft_value', type: fanout}
      queue_options:    {name: 'luft_value'}
      callback:         App\Consumer\ValueBatchConsumer
      qos_options:      {prefetch_size: 0, prefetch_count: 250, global: false}
      timeout_wait:     5
      idle_timeout:     300
      auto_setup_fabric: false
      idle_timeout_exit_code: -2
      keep_alive: true
      graceful_max_execution:
        timeout: 300