{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <h2>
                Übersicht über Schadstoffe und Grenzwerte
            </h2>

            <h4>
                Feinstaub PM 10
            </h4>

            <table class="table">
                <tr>
                    <th class="text-success">
                        ungefährlich ✅
                    </th>

                    <td class="text-right">
                        20 µg/m<sup>3</sup>
                    </td>
                </tr>

                <tr>
                    <th class="text-warning">
                        moderat ⚠️
                    </th>

                    <td class="text-right">
                        35 µg/m<sup>3</sup>
                    </td>
                </tr>

                <tr>
                    <th class="text-danger">
                        gesundheitsgefährdend ❌
                    </th>

                    <td class="text-right">
                        45 µg/m<sup>3</sup>
                    </td>
                </tr>

                <tr>
                    <th class="text-dark">
                        stark gesundheitsgefährdend ☠
                    </th>

                    <td class="text-right">
                        75 µg/m<sup>3</sup>
                    </td>
                </tr>
            </table>

            <h4>
                Stickstoffdioxid NO<sub>2</sub>
            </h4>

            <table class="table">
                <tr>
                    <th class="text-success">
                        ungefährlich ✅
                    </th>

                    <td class="text-right">
                        40 µg/m<sup>3</sup>
                    </td>
                </tr>

                <tr>
                    <th class="text-warning">
                        moderat ⚠️
                    </th>

                    <td class="text-right">
                        80 µg/m<sup>3</sup>
                    </td>
                </tr>

                <tr>
                    <th class="text-danger">
                        gesundheitsgefährdend ❌
                    </th>

                    <td class="text-right">
                        150 µg/m<sup>3</sup>
                    </td>
                </tr>

                <tr>
                    <th class="text-dark">
                        stark gesundheitsgefährdend ☠
                    </th>

                    <td class="text-right">
                        250 µg/m<sup>3</sup>
                    </td>
                </tr>
            </table>

            <h4>
                Schwefeldioxid SO<sub>2</sub>
            </h4>

            <table class="table">
                <tr>
                    <th class="text-success">
                        ungefährlich ✅
                    </th>

                    <td class="text-right">
                        105 µg/m<sup>3</sup>
                    </td>
                </tr>

                <tr>
                    <th class="text-warning">
                        moderat ⚠️
                    </th>

                    <td class="text-right">
                        210 µg/m<sup>3</sup>
                    </td>
                </tr>

                <tr>
                    <th class="text-danger">
                        gesundheitsgefährdend ❌
                    </th>

                    <td class="text-right">
                        350 µg/m<sup>3</sup>
                    </td>
                </tr>

                <tr>
                    <th class="text-dark">
                        stark gesundheitsgefährdend ☠
                    </th>

                    <td class="text-right">
                        600 µg/m<sup>3</sup>
                    </td>
                </tr>
            </table>

            <h4>
                Kohlenmonoxid CO
            </h4>

            <table class="table">
                <tr>
                    <th class="text-success">
                        ungefährlich ✅
                    </th>

                    <td class="text-right">
                        3.000 µg/m<sup>3</sup>
                    </td>
                </tr>

                <tr>
                    <th class="text-warning">
                        moderat ⚠️
                    </th>

                    <td class="text-right">
                        7.000 µg/m<sup>3</sup>
                    </td>
                </tr>

                <tr>
                    <th class="text-danger">
                        gesundheitsgefährdend ❌
                    </th>

                    <td class="text-right">
                        10.000 µg/m<sup>3</sup>
                    </td>
                </tr>

                <tr>
                    <th class="text-dark">
                        stark gesundheitsgefährdend ☠
                    </th>

                    <td class="text-right">
                        15.000 µg/m<sup>3</sup>
                    </td>
                </tr>
            </table>

            <h4>
                Ozon O<sub>3</sub>
            </h4>

            <table class="table">
                <tr>
                    <th class="text-success">
                        ungefährlich ✅
                    </th>

                    <td class="text-right">
                        54 µg/m<sup>3</sup>
                    </td>
                </tr>

                <tr>
                    <th class="text-warning">
                        moderat ⚠️
                    </th>

                    <td class="text-right">
                        108 µg/m<sup>3</sup>
                    </td>
                </tr>

                <tr>
                    <th class="text-danger">
                        gesundheitsgefährdend ❌
                    </th>

                    <td class="text-right">
                        180 µg/m<sup>3</sup>
                    </td>
                </tr>

                <tr>
                    <th class="text-dark">
                        stark gesundheitsgefährdend ☠
                    </th>

                    <td class="text-right">
                        240 µg/m<sup>3</sup>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
