{% block form_errors %}
    {% if errors|length > 0 %}
        <ul class="help-block">
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock form_errors %}
