<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <title>Luft</title>

        <link rel="stylesheet" href="{{ asset('bundles/app/css/air.css') }}" />
    </head>
    <body>
        {% include 'AppBundle:Includes:header.html.twig' %}

        {% block content %}{% endblock %}

        {% include 'AppBundle:Includes:footer.html.twig' %}
        <script src="{{ asset('bundles/app/js/jquery/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/bootstrap/bootstrap.min.js') }}"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>
