<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         failOnRisky="true"
         failOnWarning="true"
         cacheResultFile="var/cache/.phpunit.result.cache">

  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory>./src/Migrations</directory>
      <file>./src/Kernel.php</file>
    </exclude>
  </coverage>

  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="display_errors" value="1"/>
    <ini name="memory_limit" value="-1"/>
    <env name="APP_ENV" value="test"/>
    <env name="APP_DEBUG" value="1"/>
    <env name="APP_SECRET" value="test-secret-for-testing-only"/>
    <env name="KERNEL_CLASS" value="App\Kernel"/>
    <env name="DATABASE_URL" value="postgresql://docker:docker@127.0.0.1:25432/gis?serverVersion=15"/>
    <env name="REDIS_HOST" value="localhost"/>
    <env name="RABBITMQ_URL" value=""/>
    <env name="OPENWEATHERMAP_APPID" value="test"/>
    <env name="LOGGLY_TOKEN" value="test"/>
    <env name="GRAPH_CACHE_DIRECTORY" value="/tmp/graph_cache"/>
  </php>

  <testsuites>
    <testsuite name="Unit">
      <directory>./tests</directory>
      <exclude>./tests/Controller</exclude>
    </testsuite>
    <testsuite name="Integration">
      <directory>./tests/Controller</directory>
    </testsuite>
  </testsuites>

  <groups>
    <exclude>
      <group>integration</group>
    </exclude>
  </groups>

</phpunit>
