{% extends 'base.html.twig' %}

{% set bodyClass = 'map' %}

{% block body %}
{% include 'Map/menu.html.twig' %}

<div id="container">
    <div id="sidebar">
        <div class="sidebar-wrapper">
            <div class="card" id="station-sidebar">
                <div class="card-header">
                    <h5 class="card-title">
                        Stationsliste
                        <button type="button" class="btn btn-sm btn-outline-secondary pull-right" id="sidebar-hide-btn">
                            <i class="fa fa-chevron-left"></i>
                        </button></h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-10">
                            <input type="text" class="form-control form-control-sm search" placeholder="Filter" />
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-sm btn-primary pull-right sort" data-sort="feature-name" id="sort-btn">
                                <i class="fa fa-sort"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-hover" id="feature-list">
                        <tbody class="list"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="overview-map">Overview Map</div>
</div>

<div class="modal fade" id="feature-modal" tabindex="-1" aria-labelledby="feature-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feature-modal-label">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="feature-modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% include 'Includes/map_templates.html.twig' %}
{% endblock body %}
