<div class="row no-gutters row-eq-height">
    {% for view_model in pollutant %}
        {% set col_width = 12 / pollutant|length %}
        <div class="col-{{ col_width }}">
            {% include 'Default/_box.html.twig' with { 'view_model': view_model, 'showStationTitle': showStationTitle, 'combined': combined } %}
        </div>
    {% endfor %}
</div>
