<div class="row">
        <div class="card-group">
            {% for view_model in pollutant %}
            {% include 'Default/_box.html.twig' with { 'view_model': view_model, 'showStationTitle': showStationTitle, 'combined': combined } %}
            {% endfor %}
        </div>
</div>
