{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info">
                Leider sind in deinem näheren Umfeld keine Messstationen zur Luftqualität im Betrieb. Du kannst aber aus der folgenden Liste Stationen in deiner Region einsehen.
            </div>
        </div>
    </div>
</div>
{% endblock %}
