{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row mt-1">
        <div class="col-12 text-center">
            <p>
                Luft<sup class="text-primary">jetzt</sup> zeigt dir die aktuellen Schadstoffkonzentrationen wie Feinstaub oder Stickoxiden in deiner Umgebung an.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="geolocation-failed" class="alert alert-info d-none">
                Dein Standort konnte leider nicht automatisch bestimmt werden. Du kannst aber deine Postleitzahl eingeben, um Messwerte aus deiner Umgebung abzufragen.
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 col-lg-6 offset-lg-3 text-center">
            <h4>
                Ortsangabe
            </h4>

            <form method="get" action="{{ path('display') }}">
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg typeahead" id="query" name="query" placeholder="Suchbegriff, Postleitzahl, Stadtname…" />
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-lg locate-button" type="button" title="Deinen Aufenthaltsort automatisch bestimmen">
                            <i class="fa fa-location-arrow"></i>
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <button id="search-button" type="submit" class="btn btn-primary btn-lg">
                        Weiter
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
