{% extends 'layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row mt-1">
        <div class="col-12 text-center">
            <p>
                Luft<sup class="text-primary">jetzt</sup> zeigt dir die aktuellen Schadstoffkonzentrationen wie Feinstaub oder Stickoxiden in deiner Umgebung an.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="geolocation-failed" class="alert alert-info d-none">
                Dein Standort konnte leider nicht automatisch bestimmt werden. Du kannst aber deine Postleitzahl eingeben, um Messwerte aus deiner Umgebung abzufragen.
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6 offset-3 text-center">
            <h4>
                Ortsangabe
            </h4>

            <form method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg typeahead" id="zip" name="zip" placeholder="Postleitzahl" />
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-lg" type="button" id="locate-button" title="Deinen Aufenthaltsort automatisch bestimmen">
                            <i class="fa fa-map-pin"></i>
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">
                        Weiter
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ asset('/js/geolocation.min.js') }}"></script>
<script src="{{ asset('/js/typeahead.min.js') }}"></script>
{% endblock %}
