// here we extend card groups down to small screens
.card-group {
  > .card {
    margin-bottom: var(--#{$prefix}card-group-margin);
  }

  display: flex;
  flex-flow: row wrap;
  // The child selector allows nested `.card` within `.card-group`
  // to display properly.
  > .card {
    // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
    flex: 1 0 0%;
    margin-bottom: 0;

    + .card {
      margin-left: 0;
      border-left: 0;
    }

    // Handle rounded corners
    @if $enable-rounded {
      &:not(:last-child) {
        @include border-end-radius(0);

        .card-img-top,
        .card-header {
          // stylelint-disable-next-line property-disallowed-list
          border-top-right-radius: 0;
        }
        .card-img-bottom,
        .card-footer {
          // stylelint-disable-next-line property-disallowed-list
          border-bottom-right-radius: 0;
        }
      }

      &:not(:first-child) {
        @include border-start-radius(0);

        .card-img-top,
        .card-header {
          // stylelint-disable-next-line property-disallowed-list
          border-top-left-radius: 0;
        }
        .card-img-bottom,
        .card-footer {
          // stylelint-disable-next-line property-disallowed-list
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}
