header #logo a:hover,
a.no-underline {
  text-decoration: none !important;
}

header #logo a {
  color: black;
}

.co2 {
  background-image: url(../img/stripes/globe.png);
  background-size: 100% 1px;

  text-shadow: 1px 1px grey;
  padding: 12px;
  color: white;
}
