@import "../css/leaflet.css";
@import "../css/leaflet.extra-markers.min.css";
@import "../css/typeahead.css";

header #logo a:hover,
a.no-underline {
  text-decoration: none !important;
}

header #logo a {
  color: black;
}

.dropdown-menu, span.twitter-typeahead .tt-menu {
  z-index: 5000 !important;
}

.co2 {
  background-image: url(/img/stripes/globe.png);
  background-size: 100% 1px;

  text-shadow: 1px 1px grey;
  padding: 12px;
  color: white;
}
