span.twitter-typeahead {
  width: 100%;

  .tt-menu {
    cursor: pointer;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    float: left;
    min-width: 100%;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 1rem;
    color: var(--bs-body-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    z-index: 5000 !important;

    .tt-suggestion {
      display: block;
      width: 100%;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.5;
      color: var(--bs-body-color);
      text-align: inherit;
      background: none;
      border: 0;

      &:focus,
      &:hover {
        color: var(--bs-emphasis-color);
        text-decoration: none;
        background-color: var(--bs-tertiary-bg);
      }

      &.active,
      &.active:focus,
      &.active:hover,
      &.tt-cursor,
      &.tt-cursor:focus,
      &.tt-cursor:hover {
        color: #fff;
        text-decoration: none;
        background-color: var(--bs-primary);
        outline: 0;
      }

      &.disabled,
      &.disabled:hover,
      &.disabled:focus {
        color: var(--bs-secondary-color);
        text-decoration: none;
        cursor: not-allowed;
        background-color: transparent;
        background-image: none;
      }
    }
  }
}

.input-group span.twitter-typeahead {
  display: block !important;
}

.input-group span.twitter-typeahead .tt-menu {
  top: 2.375rem !important;
}

.input-group > .twitter-typeahead {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.input-group > .twitter-typeahead:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .twitter-typeahead > .tt-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-control.tt-input:focus {
  z-index: 3
}
