<footer id="footer">
    <div class="container">
        <div class="row m-3">
            <div class="col-12 text-center">
                <p>
                    Die <a href="http://sqi.be/g6h5l">Luftdaten</a> stammen vom <a href="http://sqi.be/v2i08">Umweltbundesamt</a>, ergänzt von PM<sub>10</sub> und PM<sub>25</sub>-Messwerten von <a href="https://sqi.be/8nf5q">Luftdaten.info</a>. Die CO<sub>2</sub>-Konzentration aus Mauna Loa wird bereitgestellt von der <a href="https://sqi.be/mhcwy">National Oceanic & Atmospheric Administration</a>. Die Lufttemperatur und der UV-Index werden von <a href="https://sqi.be/7iewr">OpenWeatherMap</a> abgerufen.
                    <br />
                    <a href="{{ path('impress') }}">Impressum</a>
                    &bull;
                    <a href="{{ path('privacy') }}">Datenschutzerklärung</a>
                <br />
                    <a href="http://sqi.be/v4px3">facebook</a>
                    &bull;
                    <a href="http://sqi.be/ed94a">GitHub</a>
                    &bull;
                    <a href="{{ path('app.swagger_ui') }}">Api</a>
                </p>
            </div>
        </div>
    </div>
</footer>

{{ render(controller('App\\Controller\\TemplateController::cityListAction')) }}
