<div class="modal fade" id="impressModal" tabindex="-1" role="dialog" aria-labelledby="impressModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="impressModalLabel">
                    Impressum
                </h4>
            </div>

            <div class="modal-body">
                <p>
                    Angaben nach § 5 TMG:
                </p>

                <p>
                    Malte Hübner
                    <br />
                    Mühlenaustieg 10
                    <br />
                    22523 Hamburg
                </p>

                <p>
                    E-Mail: malte@caldera.cc
                    <br />
                    Telefon: 0700 11 864 833
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>

<footer id="footer">
    <div class="container">
        <div class="row m-2">
            <div class="col-md-12 text-xs-center text-muted">
                <a href="#" data-toggle="modal" data-target="#impressModal">
                    Impressum
                </a>
                &bull;
                <a href="http://sqi.be/v4px3">
                    facebook
                </a>
                &bull;
                <a href="http://sqi.be/ed94a">
                    GitHub
                </a>
            </div>
        </div>
    </div>
</footer>