<header id="header">
    <div class="container">
        <div class="row m-2">
            <div class="col-xs-12 text-xs-center">
                <h1>
                    Luft<sup class="text-primary">jetzt</sup>
                </h1>
            </div>
        </div>
    </div>
</header>