<header id="header">
    <div class="container">
        <div class="row m-3">
            <div class="col-12 text-center">
                <h1 id="logo">
                    <a href="{{ path('display') }}">
                        Luft<sup class="text-primary">jetzt</sup>
                    </a>
                </h1>
            </div>
        </div>
    </div>
</header>
