{% if admin.hasRoute('twitter') %}
    <a href="{{ admin.generateObjectUrl('twitter', object) }}" class="btn btn-sm btn-default view_link" title="{{ 'twitter'|trans({}, 'SonataAdminBundle') }}">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        {{ 'twitter'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}
