{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>
                    Corona-Silvester
                </h2>

                <p class="lead">
                    Aufgrund der Corona-Pandemie wurde zur Eindämmung der Infektionsdynamik der Verkauf von Feuerwerkskörpern in Deutschland untersagt. Gib einen Ort an, um die aktuelle Feinstaubbelastung mit Werten aus den Vorjahren zu vergleichen.
                </p>
            </div>
        </div>

        {% if data_list is not defined or data_list|length == 0 %}
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 text-center">
                <form method="get" action="{{ path('analysis_fireworks_corona') }}">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-lg typeahead" id="query" name="query" placeholder="Suchbegriff, Postleitzahl, Stadtname…" />
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-lg locate-button" type="button" title="Deinen Aufenthaltsort automatisch bestimmen">
                                <i class="fa fa-location-arrow"></i>
                            </button>
                        </div>
                    </div>

                    <div class="form-group">
                        <button id="search-button" type="submit" class="btn btn-primary btn-lg">
                            Weiter
                        </button>
                    </div>
                </form>
            </div>
        </div>
        {% else %}
            <table class="table">
                <thead>
                <th>
                    Uhrzeit
                </th>
                {% for year in years %}
                <th>
                    {{ year }}
                </th>
                {% endfor %}
                </thead>
                <tbody>
                {% for timestamp, view_model_set in data_list %}
                    {% if corona_fireworks_datetime(timestamp)|date('m d H i') == '01 01 00 00' %}
                    <tr>
                        <th colspan="4" class="text-center">
                            Jahreswechsel
                        </th>
                    </tr>
                    {% endif %}

                     <tr>
                         <td>
                             {{ corona_fireworks_datetime(timestamp)|date('d. F') }}
                             <br />
                             {{ corona_fireworks_datetime(timestamp)|date('H:i') }}&nbsp;Uhr
                         </td>

                         {% for year in years %}
                             <td>
                                 {% if view_model_set[year] is defined and view_model_set[year] %}
                                     <div class="card">
                                        {% include 'Default/_box.html.twig' with { 'view_model': view_model_set[year], 'showStationTitle': true, 'combined': true } %}
                                     </div>
                                 {% else %}
                                     <div class="alert alert-info">
                                         Keine Daten gefunden.
                                     </div>
                                 {% endif %}
                             </td>
                         {% endfor %}
                     </tr>
                {% endfor %}
                </tbody>
            </table>

        {% endif %}
    </div>
{% endblock %}
