{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>
                    Corona-Silvester
                </h2>

                <p class="lead">
                    Wie im letzten Jahr wird auch zum Jahreswechsel 2021/2022 der Verkauf von Feuerwerkskörpern und Knallchargenbedarf eingeschränkt. Hier kannst du die Feinstaub-Messwerte um den Jahreswechsel herum mit den beiden vorherigen Jahren vergleichen.
                </p>
            </div>
        </div>

        {% if data_list is not defined %}
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 text-center">
                <form method="get" action="{{ path('analysis_fireworks_corona') }}">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-lg typeahead" id="corona-query" name="query" placeholder="Suchbegriff, Postleitzahl, Stadtname…" />
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-lg locate-button" type="button" title="Deinen Aufenthaltsort automatisch bestimmen">
                                <i class="fa fa-location-arrow"></i>
                            </button>
                        </div>
                    </div>

                    <div class="form-group">
                        <button id="search-button" type="submit" class="btn btn-primary btn-lg">
                            Weiter
                        </button>
                    </div>
                </form>
            </div>
        </div>
        {% elseif data_list|length == 0 %}
            <div class="row mb-3">
                <div class="col-12 text-center">
                    <div class="alert alert-warning">
                        Für deinen Standort liegen momentan keine Daten vor. Bitte versuche es ab 12 Uhr am 31. Dezember erneut.
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row mb-3">
                <div class="col-12 text-center">
                    Die folgende Tabelle zeigt dir für jedes Halbstundeninterval den höchsten Messwert der nächsten Luftmessstation an deinem Standort an. Beachte, dass es sich bei den Messwerten jeweils um das Maximum der nächstgelegenen Station handelt und es sich bei einigen Werten unter Umständen um 24-Stunden-Mittelwerte handelt.
                </div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    {% for year in years %}
                        <th>
                            {{ year }}
                        </th>
                    {% endfor %}
                    </thead>
                    <tbody>
                    {% for timestamp, view_model_set in data_list %}
                        {% if corona_fireworks_datetime(timestamp + 30)|date('m d H i', 'Europe/Berlin') == '01 01 00 00' %}
                            <tr>
                                <th colspan="3" class="text-center">
                                    Jahreswechsel
                                </th>
                            </tr>
                        {% else %}
                            <tr>
                                <th colspan="3" class="text-center">
                                    {{ corona_fireworks_datetime(timestamp + 30)|date('d.m. H:i', 'Europe/Berlin') }}&nbsp;Uhr
                                </th>
                            </tr>
                        {% endif %}

                        <tr>
                            {% for year in years %}
                                <td>
                                    {% if view_model_set[year] is defined and view_model_set[year] %}
                                        <div class="card">
                                            {% include 'Default/_box.html.twig' with { 'view_model': view_model_set[year], 'showStationTitle': true, 'combined': true, 'linkToStation': true } %}
                                        </div>
                                    {% else %}
                                        <div class="alert alert-info">
                                            Keine Daten gefunden.
                                        </div>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
