{% extends 'base.html.twig' %}

{% block body %}
    <body>
    {% include 'Includes/menu.html.twig' %}

    <a href="http://sqi.be/ed94a">
        <img class="d-none d-md-block" style="position: absolute; top: 56px; right: 0; border: 0;" src="{{ asset('/img/github/black-topright.png') }}" />
    </a>

    {{ wo_render_breadcrumbs() }}

    {% block content %}{% endblock %}

    {% include 'Includes/footer.html.twig' %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {% include 'Includes/search_templates.html.twig' %}

    {% block scripts %}{% endblock %}
    </body>
{% endblock %}