{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <h2>
                    Feinstaub
                </h2>

                <p>
                    Als Feinstaub werden Partikel unterschiedlicher Art bezeichnet, die aufgrund ihrer Größe eingeatmet werden können. Feinstaub kleiner zehn Mikrometer (PM<sub>10</sub>) kann in die Nasenhöhle, Feinstaub kleiner 2,5 Mikrometer (PM<sub>2,5</sub>) kann bis in die Bronchien eindringen. Noch kleinere Partikel können in den Blutkreislauf übergehen und sich im Organismus anreichern.
                </p>

                <p>
                    Feinstaub birgt eine Menge unterschiedlicher Gesundheitsrisiken. Bereits geringe Konzentrationen können Entzündungen im Atmungsapparat verursachen und die Bildung von Plaque und Thrombosen in Blutgefäßen begünstigen, langfristig stehen ultrafeine Feinstaubpartikel im Verdacht, Alzheimer verursachen zu können.
                </p>

                <p>
                    Die Quellen von Feinstaub sind unterschiedlicher Art, ein Großteil der Feinstaubbelastung geht auf anthropogene Ursachen zurück, etwa Emissionen von Kraftfahrzeugen, Kraftwerken oder Heizungen. Im Straßenverkehr emittierter Feinstaub stammt allerdings nicht nur von Verbrennungsmotoren, sondern auch vom Reifen- und Bremsscheibenabrieb. Im landwirtschaftlichen Bereich sind unter anderem Ammoniakemissionen aus der Massentierhaltung als Vorläuferstoff ursächlich für die Bildung von Feinstaub.
                </p>

                <p>
                    Für Feinstaub gilt seit dem 1. Januar 2005 ein Tagesgrenzwert von 50 Mikrogramm pro Kubikmeter, der nicht öfter als 35 mal im Jahr überschritten werden darf. Der maximale Jahresmittelwert beträgt 40 Mikrogramm pro Kubikmeter für PM<sub>10</sub> und 25 Mikrogramm pro Kubikmeter für PM<sub>2,5</sub>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
