{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h2>
                    Kohlenmonoxid
                </h2>

                <p>
                    Kohlenmonoxid ist ein farb- und geruchsloses, aber hochgiftiges Gas und führt bei erhöhten Konzentrationen binnen kürzester Zeit zum Tod, da es in den Blutkreislauf eindringt und dort den Sauerstofftransport im Blut behindert. Das Gas gilt als Ursache für etwa die Hälfte aller tödlichen Vergiftungen weltweit.

                <p>
                    Grundsätzlich entsteht Kohlenmonoxid bei unvollständiger Verbrennung, etwa in Öfen oder Verbrennungsmotoren &mdash; daher soll beim Warten in Tunneln oder Parkhäusern der Motor abgeschaltet werden. Kohlenmonoxid ist ebenfalls ursächlich für tödliche Vergiftungen, die beispielsweise beim Betrieb von Öfen innerhalb von Gartenlauben auftreten.
                </p>

                <p>
                    Ein gesunder Organismus kann erhöhte Kohlenmonoxid-Werte grundsätzlich ohne Folgeschäden ertragen, allerdings gelten Belastungen von mehr als 100 ppm als gesundheitsgefährdend, können Schädigungen des ungeborenen Kindes verursachen und sich negativ auf die Lebenserwartung des Menschen auswirken. Der Arbeitsplatzgrenzwert für Kohlenmonoxid liegt bei 30 ppm, also ungefähr 3.000 Mikrogramm pro Kubikmeter.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
