{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h2>
                    Ozon
                </h2>

                <p>
                    Ozon ist ein Molekül aus drei Sauerstoffatomen (O<sub>3</sub>). Bekannt ist Ozon unter anderem aus der Ozonschicht, das die Erdoberfläche vor schädlicher ultravioletter Strahlung gschützt. So genanntes bodennahes Ozon kann in höheren Konzentrationen zur Reizung und Schädigung der Atemwege und Augen führen.
                </p>

                <p>
                    In Deutschland gilt ein Grenzwert von 180 Mikrogramm Ozon pro Kubimketer innerhalb eines Ein-Stunden-Mittelwertes, der deutlich über dem von der WHO empfohlenen 120 Mikrogramm pro Kubikmeter liegt. Ab 180 Mikrogramm pro Kubikmeter soll grundsätzlich die Bevölkerung über die Massenmedien vor einem Aufenthalt im Freien gewarnt werden, ab 240 Mikrogramm pro Kubikmeter ist von gesundheitlichen Beeinträchtigungen auszugehen, die sich in Kopfschmerzen, gereizten Augen oder Atemwegen sowie einer deutlich verminderten Lungenfunktion niederschlagen. Bei Kindern, Senioren oder gesundheitlich beinträchtigten Menschen sollten bereits deutlich vor Überschreitung der jeweiligen Grenzwerte Vorsichtsmaßnahmen ergriffen und beispielsweise auf sportliche Aktiviäten im Freien verzichtet werden.
                </p>

                <p>
                    Aufgrund seiner chemischen Reaktionsfreudigkeit steht Ozon im Verdacht, krebserregend zu sein.
                </p>

                <p>
                    Pflanzen nehmen Ozon über Spaltöffnungen an den Blättern auf, erhöhte Ozonkonzentration können zu dauerhaften Schäden führen und schlagen sich langfristig in niedrigen Ernteerträgen und einer verminderten Qualität landwirtschaftlicher Produkte nieder.
                </p>

                <p>
                    Die Ozonkonzentration ist im Sommer in den Nachmittags- und Abendstunden am höchsten. Auch wenn die hohen Messwerte aus dem letzten Jahrtausend kaum noch erreicht werden, ist die durchschnittliche Belastung insbesondere aufgrund des gewachsenen Verkehrsaufkommens angestiegen.
                </p>

                <p>
                    Ozon wird meistens nicht direkt emittiert, sondern bildet sich aus der chemischen Reaktion so genannter Vorläuferstoffe, zu denen unter anderem Stickoxide zählen, von denen für die problematische Ozonkonzentration wiederum ein Großteil aus Verbrennungsmotoren stammt. Andere Quellen sind Feuerungsanlagen oder so genannte flüchtige organische Stoffe aus Lösungsmitteln wie Farben und Reinigungsmittel.
                </p>

                <p>
                    Ozon wird vor allem von energiereicher Sonnenstrahlung und paradoxerweise von anderen Schadstoffen wie Stickstoffdioxiden abgebaut. Letztere werden teilweise als reduzierte NO emittiert und reagieren zusammen mit Ozon zu einem Stickstoffdioxid-Molekühl NO<sub>2</sub> und einem Sauerstoffmolekül O<sub>2</sub>: NO + O<sub>3</sub> &rarr; NO<sub>2</sub> + O<sub>2</sub>. Das wiederum sorgt dafür, dass in verkehrsreichen Städten Ozon schneller abgebaut wird als in ländlichen Regionen, in die Ozon und dessen Vorläuferstoffe vom Wind verbracht, aber in Ermangelung von Stickoxiden nicht abgebaut werden.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
