{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h2>
                    Schwefeldioxid
                </h2>

                <p>
                    Schwefeldioxid entsteht primär bei der Verbrennung fossiler Energieträger aus der Oxidation des in Kohle und Öl enthaltenen Schwefels.
                </p>

                <p>
                    Bekannt wurde die Problematik von Schwefelemissionen durch die Gefahr des sauren Regens und des Waldsterbens um 1980 herum. Mittlerweile wurden die Schwefelemssionen durch den Einbau von Filteranlagen und anderen Maßnahmen zum Gesundheits- und Umweltschutz so weit gesenkt, dass mit gesundheitlichen Gefährdungen nicht mehr zu rechnen ist. Schwefeldioxid verursacht unter anderem Reizungen der Schleimhäute und der Augen.
                </p>

                <p>
                    Der Ein-Stunden-Grenzwert für Schwefeldioxid beträgt 350 Mikrogramm pro Kubikmeter und darf 24 mal im Jahr überschritten werden, der Tagesgrenzwert von 125 Mikrogramm pro Kubikmeter darf nur drei Mal überschritten werden.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
