{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h2>
                    Stickoxide
                </h2>

                <p>
                    Stickoxide sind ein Nebenprodukt von Verbrennungenprozessen, unter anderem in Motoren oder beim anderweitigen Verbrennen von fossilen Brennstoffen, Holz oder Abfällen stattfindet.
                </p>

                <p>
                    In der Lunge dringen Stickoxide tief in die Lungenbläschen ein, können die Schleimhäute reizen und unterschiedliche Entzündungen auslösen. Zusätzlich werden bestehende Lungenkrankheiten wie Asthma verschlimmert werden. Die konkreten Langzeitfolgen übermäßiger Stickoxid-Konzentrationen sind allerdings immer noch Bestandteil teils heftig umstrittener Forschung.
                </p>

                <p>
                    Innerhalb der Europäischen Union darf der Stundengrenzwert von 200 Mikrogramm pro Kubikmeter nur 18 mal pro Kalenderjahr überschritten werden. Der Jahresgrenzwert beträgt 40 Mikrogramm pro Kubikmeter.
                </p>

                <p>
                    Der <a href="https://www.umweltbundesamt.de/themen/unterschied-zwischen-aussenluft">Arbeitsplatzgrenzwert von 950 Mikrogramm pro Kubikmeter</a> wird momentan häufig in den Medien erwähnt, um die Ungefährlichkeit von Stickoxiden zu demonstrieren. Bei der Maximalen Arbeitsplatz-Konzentration MAK handelt es sich allergings mitnichten um einen allgemeinen Grenzwert für Büroarbeitsplätze, sondern nur für einige bestimmte Arbeitsplätze in Inudstrie und Handwerk, bei denen mit einer entsprechende Stickoxid-Konzentration gerechnet werden muss, etwa beim Schweißen oder beim Betrieb von Dieselaggregaten. Arbeiter, die diesen Konzentrationen ausgesetzt sind, erhalten in der Regel eine umfassende gesundheitliche Betreuung.
                </p>

                <p>
                    Der Grenzwert von 40 Mikrogramm pro Kubikmeter gilt hingegen nicht nur für einige wenige Industrie- und Handwerksarbeitsplätze, sondern für die allgemeine Bevölkerung rund um die Uhr, zu der auch Kinder, Senioren, Asthmatiker und Menschen mit angeschlagenem Immunsystem zählen.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
