{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ dump(resultList) }}
            </div>
        </div>
    </div>

{% endblock %}
