{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        {{ city.name }}
                    </h4>

                    <p class="card-text mt-2">
                        Verbinde ein Twitter-Konto für diese Stadt, um automatisch Messwerte veröffentlichen zu lassen:
                    </p>

                    <p class="card-text mt-2">
                        <a href="{{ hwi_oauth_login_url('twitter') }}" class="btn btn-primary">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            Login über twitter
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}