<div class="card">
    <div id="map" class="card-img-top" style="height: 33.33vh;"></div>
    <div class="card-block">
        <h4 class="card-title">
            Messstation {{ station.stationCode }}
        </h4>
        <h6 class="card-sutitle mb-2 text-muted">
            {{ station.title }}
        </h6>
        {% if description is defined %}
        <p class="card-text">
            {{ description }}
        </p>
        {% endif %}
    </div>
</div>
