<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <title>Luft</title>

    <link rel="stylesheet" href="{{ asset('bundles/app/css/air.css') }}" />
</head>
<body>
<div class="container">
    <div class="row">
        {% for box in boxList %}
            {% include 'AppBundle:Default:_box.html.twig' with {'box': box} %}
        {% endfor %}
    </div>
</div>
<script src="{{ asset('bundles/app/js/jquery/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap/bootstrap.min.js') }}"></script>
</body>
</html>
