{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row mt-1">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 text-center">
            <p>
                Luft<sup class="text-primary">jetzt</sup> zeigt dir die aktuellen Luftdaten von Messstationen in deiner Umgebung an.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="geolocation-failed" class="alert alert-info d-none">
                Dein Standort konnte leider nicht automatisch bestimmt werden. Du kannst aber deine Postleitzahl eingeben, um Messwerte aus deiner Umgebung abzufragen.
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 col-md-6 text-center">
            <h3>
                Standort automatisch bestimmen
            </h3>

            <p>
                Klicke auf den folgenden Button, um deinen Standort automatisch über dein Gerät bestimmen zu lassen:
            </p>

            <p>
                <button id="locate-button" class="btn btn-primary btn-lg">
                    Standort bestimmen
                </button>
            </p>
        </div>

        <div class="col-12 col-md-6 text-center">
            <h3>
                Postleitzahl
            </h3>

            <p>
                Gib deine Postleitzahl ein, um Stationen in deiner Nähe abzufragen:
            </p>

            <form method="get">
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="zip" name="zip" placeholder="Postleitzahl" maxlength="5" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">
                        Weiter
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ asset('bundles/app/js/geolocation.js') }}"></script>
{% endblock %}
