{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div id="geolocation-failed" class="alert alert-info hidden-xs-up">
                Dein Standort konnte leider nicht automatisch bestimmt werden. Du kannst aber deine Postleitzahl eingeben, um Messwerte aus deiner Umgebung abzufragen.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 offset-xs-3 text-xs-center">
            <form method="get">
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="zip" name="zip" placeholder="Postleitzahl" maxlength="5" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">
                        Weiter
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

<script>
    var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

    function success(pos) {
        var coords = pos.coords;

        var route = Routing.generate(
            'display',
            {
                latitude: coords.latitude,
                longitude: coords.longitude
            }
        );

        window.location = route;
    }

    function error(err) {
        var $message = $('#geolocation-failed');

        $message.removeClass('hidden-xs-up');
    }

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(success, error, options);
    } else {
        error();
    }

</script>
{% endblock %}
