{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div id="geolocation-failed" class="alert alert-info hidden-xs-up">
                Dein Standort konnte leider nicht automatisch bestimmt werden.
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

<script>
    var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

    function success(pos) {
        var coords = pos.coords;

        var route = Routing.generate(
            'display',
            {
                latitude: coords.latitude,
                longitude: coords.longitude
            }
        );

        window.location = route;
    }

    function error(err) {
        var $message = $('#geolocation-failed');

        $message.removeClass('hidden-xs-up');
    }

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(success, error, options);
    } else {
        error();
    }

</script>
{% endblock %}