{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% include 'AppBundle:Default:_station.html.twig' with { 'station': station, 'description': 'An der Station ' ~ station.stationCode ~ ' wurden zuletzt die folgenden Werte gemessen.' } %}
            </div>
        </div>

        <div class="row mt-2">
            {% for box in boxList %}
                {% include 'AppBundle:Default:_box.html.twig' with { 'box': box, 'showStationTitle': false } %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/bundles/app/js/leaflet/leaflet.js"></script>
    <script src="/bundles/app/js/map.js"></script>
{% endblock %}
