{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-xs-center">
            <h3>
                Messstation {{ station.stationCode }}
            </h3>
        </div>
    </div>
</div>
{% endblock %}
