{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        {% for box in boxList %}
        {% include 'AppBundle:Default:_box.html.twig' with {'box': box} %}
        {% endfor %}
    </div>
</div>
{% endblock %}